@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
  --background: #121212;
  --surface: #1e1e1e;
  --primary: #bb86fc;
  --secondary: #03dac6;
  --text: #e1e1e1;
}

body {
  background-color: var(--background);
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}

.main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  gap: 1rem;
  background-color: var(--background);
  height: 100%;
}

.nav-bar {
  position: relative;
  box-sizing: border-box;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100vw;
  padding: 1rem 3rem;
  background-color: var(--surface);
}

.logo {
  height: 12rem;
  width: 12rem;
  overflow: hidden;
}

.logo-text {
  color: var(--primary);
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 72px;
  text-wrap: nowrap;
}

.nav-buttons {
  justify-content: flex-end;
  padding-right: 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.nav-buttons button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: var(--background);
  color: var(--primary);
}
.nav-buttons button:hover {
  border-color: var(--secondary);
  color: var(--secondary);
  cursor: pointer;
}

/*===========================================================
      Start Page
=============================================================*/

.random-drink-name {
  font-size: 2.5rem;
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--primary);
  bottom: 5px;
}

.random-card-top {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.start-page-buttons {
  position: relative;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.start-page-buttons button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: var(--background);
  color: var(--primary);
}
.start-page-buttons button:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.start-page .like-btn {
  position: relative;
  background-color: transparent;
  border: none;
}

.start-page .like-btn .material-icons {
  position: relative;
  font-size: 2rem;
}

.like-btn .material-icons {
  color: var(--primary);
}

.like-btn .material-icons:hover {
  color: var(--secondary);
  cursor: pointer;
}

.preview-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--surface);
  box-sizing: border-box;
}

.img-wrapper {
  height: 40rem;
}

.img-wrapper img {
  width: 100%;
  height: auto;
}

/*===========================================================
      Search Page + Favs
=============================================================*/

.search-results,
.favorites-list {
  width: 95vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--background);
}

.search-result-card,
.fav-list-item {
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--surface);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sr-thumb,
.fav-img-wrapper {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}

.sr-thumb img,
.fav-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sr-text-wrapper,
.fav-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.fav-card-title,
.sr-drink-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
  text-align: center;
}

.sr-drink-tags,
.fav-card p {
  margin: 0;
  color: var(--secondary);
}

.fav-card button,
.sr-text-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary);
}

.search-form,
.search-types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-types input {
  border: 1px solid var(--primary);
  background-color: var(--surface);
  height: 100%;
  color: var(--text);
  padding: 0.2rem;
  position: relative;
}

select,
option {
  border: 1px solid var(--primary);
  background-color: var(--surface);
  height: 100%;
  color: var(--text);
}

.search-form .material-icons {
  color: var(--primary);
  background-color: transparent;
  border: none;
}

.search-page-buttons {
  display: flex;
  justify-content: center;
}

.search-page-buttons button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: var(--background);
  color: var(--primary);
}
.search-page-buttons button:hover {
  cursor: pointer;
  color: var(--secondary);
  border-color: var(--secondary);
}

.page-count {
  display: flex;
  justify-content: center;
}

/*===========================================================
Details Page
=============================================================*/
.details-page {
  padding: 0.5% 1%;
  display: flex;
  position: relative;
  background-color: var(--surface);
  display: flex;
  border-radius: 15px;
  max-height: max-content;
}

.dt-name {
  font-size: 2rem;
  color: var(--primary);
}

.dt-ctg {
  font-weight: bold;
}

.dt-img-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
}

.dt-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.dt-info {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 2rem;
  gap: 0.5rem;
}

.details-page button {
  position: relative;
  background-color: transparent;
  border: none;
  width: fit-content;
  left: 90%;
  bottom: 20%;
}

.details-page button span {
  font-size: 3rem;
}

.dt-tags {
  display: flex;
  gap: 1rem;
}

.dt-tags li {
  list-style-type: none;
  list-style: none;
  background-color: var(--primary);
  color: var(--background);
  font-weight: bold;
  padding: 0 3px;
  border-radius: 5px;
}

.dt-glass {
  background-color: var(--background);
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 1rem;
  color: var(--secondary);
}
/*===========================================================
    Favorites page
=============================================================*/
.fav-page h2 {
  text-align: center;
  color: var(--primary);
  font-weight: 600;
  font-size: 2rem;
}

.no-favorites-message {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--secondary); */
  font-weight: bold;
  font-size: 1.1rem;
}
/*===========================================================
    Hiding Class
=============================================================*/
.hide-section {
  display: none;
}
