@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  border: dashed 1px rgba(0, 0, 0, 0.4);
  /* TODO: Remove border after */
}

body {
  height: 100vh;
  background-color: #ffe799;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
  background-color: #fff;
  height: 80%;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-buttons button {
  padding: 1rem;
  width: 50%;
}

/*===========================================================
      Start Page
============================================================= */

.random-drink-name {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Bree Serif", Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(#fa472f, #f6a118);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px;
}

.nav-bar {
  display: flex;
  gap: 0.5rem;
  width: 100vw;
  padding: 1rem;
  background-color: #ffe799;
}

.start-page-buttons {
  display: flex;
  gap: 1rem;
}

.start-page-buttons button {
  padding: 1rem;
  width: 25%;
}

.preview-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43rem;
  width: 40rem;
  overflow: hidden;
  border-radius: 20px;
  background-color: #ffe799;
}

.img-wrapper {
  height: 40rem;
}

/*===========================================================
      Search Page
============================================================= */
.search-results {
  height: 70vh;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* Add some spacing between cards */
  overflow-y: auto; /* Scrollable if content overflows */
}

.search-result-card {
  display: grid;
  grid-template-columns: 5rem auto;
  align-items: center;
  gap: 1rem; /* Space between thumbnail and text */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff; /* Optional: Card background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Slight shadow */
}

.sr-thumb {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 0.5rem; /* Optional: Rounded corners for the image */
}

.sr-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between text elements */
}

.sr-thumb {
  height: 5rem;
}

/*===========================================================
Details Page
============================================================= */
.details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe799;
  border-radius: 20px;
}
.details-page .dt-img-wrapper {
  border-radius: 20px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

.hide-section {
  display: none;
}
